@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-lexend text-secondary-1000;
}

@layer components {
  .link {
    text-decoration: none;
    color: inherit;
  }
}

@layer utilities {
  .clip-parallelogram-right {
    clip-path: polygon(0 0, 100% 0, calc(100% - 60px) 100%, 0 100%);
  }

  .clip-parallelogram-left {
    clip-path: polygon(60px 0, 100% 0, calc(100% - 0px) 100%, 0 100%);
  }

  .clip-parallelogram {
    clip-path: polygon(60px 0, 100% 0, calc(100% - 60px) 100%, 0 100%)
  }
}