@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* I want these styles to persist even if I don't use them */
.parallelogram-4 {
  @apply basis-[calc(25%-72px)] hover:basis-[calc(25%+48px)];
}

.parallelogram-5 {
  @apply basis-[calc(20%-72px)] hover:basis-[calc(20%+48px)]
}

.editor-preview {
  @apply bg-main;
}

@layer base {
  html {
    @apply font-lexend text-secondary-1000 overflow-x-hidden selection:bg-opacity-80 selection:bg-accent-900 selection:text-main;
  }
}

@layer components {
  .px-page {
    @apply px-4 xs:px-8 sm:px-12 md:px-20 max-w-7xl mx-auto;
  }

  /* STYLED INPUT */
  .styled-input {
    @apply focus:outline-accent-400 border-2 border-secondary-300 bg-accent-50 rounded-2xl px-3 py-2.5 placeholder:text-secondary-500 placeholder:font-light
  }

  /* HAMBURGER MENU */
  .hamburger-menu-btn {
    @apply w-6 xs:w-8 h-5 xs:h-[30px] relative transition cursor-pointer;
  }

  .hamburger-menu-btn > span {
    @apply bg-main block absolute h-1 xs:h-1.5 w-full rounded-sm xs:rounded-md opacity-100 transition-transform first:top-0 [&:nth-child(2)]:top-2 xs:[&:nth-child(2)]:top-3 [&:nth-child(3)]:top-4 xs:[&:nth-child(3)]:top-6;
  }

  .open.hamburger-menu-btn > span {
    @apply first:top-2 xs:first:top-3 first:rotate-[135deg] [&:nth-child(2)]:opacity-0 [&:nth-child(2)]:-left-16 [&:nth-child(3)]:top-2 xs:[&:nth-child(3)]:top-3 [&:nth-child(3)]:-rotate-[135deg];
  }

  /* MARKDOWN PREVIEW */
  .custom-markdown-preview {
    @apply bg-main;
  }
  .custom-markdown-preview h1 {
    @apply text-3xl font-bold;
  }
  .custom-markdown-preview h2 {
    @apply text-2xl font-bold;
  }
  .custom-markdown-preview h3 {
    @apply text-xl font-bold;
  }
  .custom-markdown-preview h4 {
    @apply text-lg font-bold;
  }
  .custom-markdown-preview h5,
  .custom-markdown-preview h6 {
    @apply font-bold;
  }
  .custom-markdown-preview blockquote {
    @apply bg-secondary-100 border-l-8 border-secondary-400 my-4 mx-2 py-1 px-2;
    quotes: "\201C""\201D""\2018""\2019";
  }
  .custom-markdown-preview blockquote:before {
    @apply text-secondary-400 content-[open-quote] text-5xl leading-[0.1rem] mr-1;
    vertical-align: -0.4em;
  }
  .custom-markdown-preview blockquote p {
    @apply inline;
  }
  .custom-markdown-preview ul {
    @apply list-disc pl-7;
  }
  .custom-markdown-preview ol {
    @apply list-decimal pl-7;
  }
  .custom-markdown-preview a {
    @apply text-accent-800 underline;
  }

  /* SPINNER */ 
  .spinner {
    @apply relative;
  }
  .spinner .blob {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 border-inherit rounded-full;
  }
  .spinner .blob.top {
    @apply top-0;
    animation: blob-top 1s infinite ease-in;
  }
  .spinner .blob.bottom {
    @apply top-full;
    animation: blob-bottom 1s infinite ease-in;
  }
  .spinner .blob.left {
    @apply left-0;
    animation: blob-left 1s infinite ease-in;
  }
  .spinner .blob.move-blob {
    @apply top-0;
    animation: blob-spinner-mover 1s infinite ease-in;
  }
  @keyframes blob-bottom {
    25%, 50%, 75% {
      top: 50%;
      left: 100%;
    }
    100% {
      top: 0;
      left: 50%;
    }
  }
  @keyframes blob-left {
    25% {
      top: 50%;
      left: 0;
    }
    50%, 100% {
      top: 100%;
      left: 50%;
    }
  }
  @keyframes blob-top {
    50% {
      top: 0;
      left: 50%;
    }
    75%, 100% {
      top: 50%;
      left: 0;
    }
  }
  @keyframes blob-spinner-mover {
    0%, 100% {
      top: 0;
      left: 50%;
    }
    25% {
      top: 50%;
      left: 100%;
    }
    50% {
      top: 100%;
      left: 50%;
    }
    75% {
      top: 50%;
      left: 0;
    }
  }
}

@layer utilities {
  .cool-checkbox {
    @apply appearance-none outline-none relative h-6 w-12 p-0.5 border-2 border-secondary-300 rounded-xl cursor-pointer;
  }
  .cool-checkbox:checked {
    @apply bg-accent-600 border-accent-700;
  }
  .cool-checkbox::before {
    @apply content-[""] h-3 w-3 bg-secondary-300 absolute m-auto top-0 left-1 bottom-0 rounded-full transition-all duration-200;
  }
  .cool-checkbox:checked::before {
    @apply left-7 shadow-none bg-main;
  }
  .cool-checkbox::after {
    @apply content-["✕"] absolute text-sm top-0 right-[5px] text-secondary-700;
  }
  .cool-checkbox:checked::after {
    @apply content-["✓"] left-[5px] text-main;
  }


  .grid-squared {
    @apply before:w-0 before:pb-[65%] before:row-start-1 before:row-end-1 before:col-start-1 before:col-end-1 [&>*:first-child]:row-start-1 [&>*:first-child]:row-end-1 [&>*:first-child]:col-start-1 [&>*:first-child]:col-end-1;
  }

  .text-blurred {
    animation: blur 8s ease-in-out 0s infinite both;
    @apply text-transparent;
  }

  @keyframes blur {
    0%, 100% {
      text-shadow: 0 0 20px #a78bfa;
      opacity: 0;
    }

    50% {
      text-shadow: 0 0 2px #a78bfa;
      opacity: 1;
    }
  }

  .hover-bottom-border-left {
    @apply relative hover:after:w-full after:absolute after:bottom-0 after:left-0 after:w-0 after:border-b-2 after:border-b-secondary-1000 after:transition-all;
  }

  .hover-bottom-border {
    @apply relative hover:after:w-1/2 after:absolute after:bottom-0 after:left-1/2 after:w-0 after:border-b-2 after:border-b-secondary-200 after:transition-all after:duration-200 hover:before:w-1/2 before:absolute before:bottom-0 before:right-1/2 before:w-0 before:border-b-2 before:border-b-secondary-200 before:transition-all;
  }

  .clip-parallelogram-right {
    clip-path: polygon(0 0, 100% 0, calc(100% - 60px) 100%, 0 100%);
  }

  .clip-parallelogram-left {
    clip-path: polygon(60px 0, 100% 0, calc(100% - 0px) 100%, 0 100%);
  }

  .clip-parallelogram {
    clip-path: polygon(60px 0, 100% 0, calc(100% - 60px) 100%, 0 100%)
  }
}