@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* I want these styles to persist even if I don't use them */
.parallelogram-4 {
  @apply basis-[calc(25%-72px)] hover:basis-[calc(25%+48px)];
}

.parallelogram-5 {
  @apply basis-[calc(20%-72px)] hover:basis-[calc(20%+48px)]
}

@layer base {
  html {
    @apply font-lexend text-secondary-1000 overflow-x-hidden selection:bg-opacity-80 selection:bg-accent-900 selection:text-main;
  }
}

@layer components {
  .hamburger-menu-btn {
    @apply w-6 xs:w-8 h-5 xs:h-[30px] relative transition cursor-pointer;
  }

  .hamburger-menu-btn > span {
    @apply bg-main block absolute h-1 xs:h-1.5 w-full rounded-sm xs:rounded-md opacity-100 transition-transform first:top-0 [&:nth-child(2)]:top-2 xs:[&:nth-child(2)]:top-3 [&:nth-child(3)]:top-4 xs:[&:nth-child(3)]:top-6;
  }

  .open.hamburger-menu-btn > span {
    @apply first:top-2 xs:first:top-3 first:rotate-[135deg] [&:nth-child(2)]:opacity-0 [&:nth-child(2)]:-left-16 [&:nth-child(3)]:top-2 xs:[&:nth-child(3)]:top-3 [&:nth-child(3)]:-rotate-[135deg];
  }
}

@layer utilities {
  .grid-squared {
    @apply before:w-0 before:pb-[65%] before:row-start-1 before:row-end-1 before:col-start-1 before:col-end-1 [&>*:first-child]:row-start-1 [&>*:first-child]:row-end-1 [&>*:first-child]:col-start-1 [&>*:first-child]:col-end-1;
  }

  .text-blurred {
    animation: blur 8s ease-in-out 0s infinite both;
    @apply text-transparent;
  }

  @keyframes blur {
    0%, 100% {
      text-shadow: 0 0 20px #a78bfa;
      opacity: 0;
    }

    50% {
      text-shadow: 0 0 2px #a78bfa;
      opacity: 1;
    }
  }

  .hover-bottom-border-left {
    @apply relative hover:after:w-full after:absolute after:bottom-0 after:left-0 after:w-0 after:border-b-2 after:border-b-secondary-1000 after:transition-all;
  }

  .hover-bottom-border {
    @apply relative hover:after:w-1/2 after:absolute after:bottom-0 after:left-1/2 after:w-0 after:border-b-2 after:border-b-secondary-200 after:transition-all after:duration-200 hover:before:w-1/2 before:absolute before:bottom-0 before:right-1/2 before:w-0 before:border-b-2 before:border-b-secondary-200 before:transition-all;
  }

  .clip-parallelogram-right {
    clip-path: polygon(0 0, 100% 0, calc(100% - 60px) 100%, 0 100%);
  }

  .clip-parallelogram-left {
    clip-path: polygon(60px 0, 100% 0, calc(100% - 0px) 100%, 0 100%);
  }

  .clip-parallelogram {
    clip-path: polygon(60px 0, 100% 0, calc(100% - 60px) 100%, 0 100%)
  }
}